@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/* Добавляем новые иконки через ::before */

@media screen and (min-width: 768px) {
.gc-modal .modal-dialog {
left: 800px !important;    
}
.gc-notice-modal .modal-dialog {
margin-left: 200px;   
}
.confirm-email-popup-form .btn-success{
padding: 10px 20px !important;    
}
}

.common-banner-wrapper{
z-index: 9999999 !important;
}

@media screen and (min-width: 768px) {
.gc-modal{
z-index: 999999 !important;
left: -700px !important;
}
}
@media screen and (max-width: 768px) {
.gc-modal{
z-index: 999999 !important;
}
.modal-content {
width: 90vw !important;
margin-left: 10px !important;
    }
}


.menu-item .menu-item-icon {
  opacity: 0;
  width: 24px !important; /* Сохраняем место для иконки */
  height: 24px !important;
  margin-right: 8px !important; /* Если был отступ */
}
.gc-account-user-submenu-bar.gc-account-user-submenu-bar-profile{
z-index: 9999999 !important;
}
.gc-account-user-submenu-bar.gc-account-user-submenu-bar-notifications_button_small{
z-index: 9999999 !important;
}
.menu-item a[title]::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 10px;
  top: 30px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
}

/* Индивидуальные иконки для каждого пункта */
.menu-item a[title="Обучение"]::before {
  background-image: url('https://static.tildacdn.com/tild3039-3039-4136-b166-376436306164/teach-icon-1.svg');
}

.menu-item a[title="Apps"]::before {
  background-image: url('https://static.tildacdn.com/tild6633-6361-4131-b530-333131313630/chatium-icon-1_2.svg');
}
.menu-item-notifications_button_small::before{
content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 8px;
  top: 17px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
  background-image: url('https://static.tildacdn.com/tild6237-3462-4437-a162-346537616136/notifications_button.svg');
}


.menu-item a[title="Сообщения"]::before {
  background-image: url('https://static.tildacdn.com/tild3933-3231-4535-b633-396432623033/notifications-icon-1.svg');
}

.menu-item a[title="Сайт"]::before {
  background-image: url('https://static.tildacdn.com/tild3166-6664-4633-b832-306135333634/site-icon.svg');
}

.menu-item a[title="Ученики"]::before {
  background-image: url('https://static.tildacdn.com/tild6663-6539-4234-b865-343839386231/member-icon.svg');
}

.menu-item a[title="CRM"]::before {
  background-image: url('https://static.tildacdn.com/tild6131-3835-4163-b066-303963386135/CRM-icob.svg');
}

.menu-item a[title="Продажи"]::before {
  background-image: url('https://static.tildacdn.com/tild3432-3264-4666-b232-343164316664/sale-icon.svg');
}


.custom-submenu{
 margin-left: 40px;   
}

.menu-item a {
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0) !important;

}
.gc-account-leftbar .gc-account-user-menu li a {
background: linear-gradient(92.7deg, #FFEECE 25.5%, #FFF5E7 54.5%, #FFEECE 84%);
}
.gc-account-leftbar .gc-account-user-menu li a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) ; 
}


.gc-fade-wrapper {
background: #fff;  
z-index: -1
}
.gc-account-leftbar {
background: #fff;  
margin-left: 10px;
}

.menu-item a[title]::after{
color: #292929;
font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
font-weight: 600;
margin-top: 25px;
}
.menu-item-icon {
margin-top: 13px;    
}
.menu-item-notifications_button_small .menu-item-icon {
margin-top: 0px;     
}
.menu-item-profile .menu-item-icon {
margin-top: 0px;    
}
.notify-count {
color: #3D9889 !important;    
background: #fff !important;
}
.menu-item-teach > a .notify-count {
margin-top: 13px;   
}
.custom-submenu a {
font-family: 'Montserrat';
font-weight: 600 !important;
color: #292929 !important;
}
.custom-submenu li:hover {
    background: transparent !important;
}
.custom-submenu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: currentColor; /* цвет подчеркивания = цвет текста */
    transition: width 0.3s ease;
}

.custom-submenu li:hover a::after {
    width: 100%;
}

.custom-submenu .notify-count {
    position: relative !important;
    top: -4px;
    left: 45px !important;
}
.menu-item.active > a {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}
.menu-item.active > a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}


.selected > a {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}
.selected > a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;   
}

#searchWrapper {
background: #FFEECE !important;      
}
.logo-link img {
top: -40px !important;    
}
.menu-item-notifications > a .notify-count {
top: 20px;    
}

.menu-item-notifications_button_small::after {
    content: "Уведомления";
    display: inline-block;
    color: #292929;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 9999;
    top: 7px;
    left: 46px;
    pointer-events: none;
}

.gc-account-leftbar .menu-item-label {
display: none    
}


.menu-item-teach > a .notify-count {
top: 10px !important; 
left: 150px !important;     
}
.menu-item-notifications > a .notify-count {
top: 20px !important; 
left: 150px !important;     
}
 
/.gc-account-user-submenu-bar {
display: none !important;    
}
.gc-account-user-submenu-bar-cms,
.gc-account-user-submenu-bar-user,
.gc-account-user-submenu-bar-tasks,
.gc-account-user-submenu-bar-notifications,
.gc-account-user-submenu-bar-sales {
  display: none !important;
}
.modal-content {
width: 60vw;
margin-left: 100px;
}

.training-row td{
width: 100% !important;    
margin-left: 34px;
}
.training-row td a{
width: 80% !important;    
}

.stream-title::before{
top: -30px !important;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 17px;
color: #FFFFFF; 
background: #3D9889;
padding: 6px 6px;
border-radius: 5px;
}

.stream-table tr td{
min-height: 170px !important;
background: #FFF4E2;
margin-bottom: 25px !important;
display: block;
gap: 20px ; /* расстояние между дочерними элементами */
border-radius: 15px; 
}
.stream-table {
  table-layout: auto; /* обязательно! */
  width: 100%;
}
.stream-table tr td:hover {
background: #EDDFC8;
}
.menu-item-profile .menu-item-icon {
opacity: 1;
transform: scale(2);
position: relative;
top: 20px !important;
left: 20px;
}

.stream-title {
  padding-top: 5px;
  margin-top: 30px;
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: normal !important;
  color: #292929;
  font-size: 25px !important;
  display: inline-block; /* или block */
  max-width: 550px;
  white-space: normal !important;
  word-break: keep-all !important;
  overflow-wrap: break-word !important;
  text-align: left;
  line-height: 27px;
  margin-bottom: 0px;
}

.gc-user-user .training-row div {
display: none;   
}

.xdget-visible-to-bg- img {
display: none;    
}


@media screen and (max-width: 768px) {
.training-row td{
width: 100% !important;    
margin-left: 27px;
}
.main-page-block {
margin-left: 0px !important;        
}
.stream-title {
  padding-top: 0px;
  margin-top: 30px;
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: normal !important;
  color: #292929;
  font-size: 17px !important;
  display: inline-block; /* или block */
  max-width: 550px;
  white-space: normal !important;
  word-break: keep-all !important;
  overflow-wrap: break-word !important;
  text-align: left;
  line-height: 17px;
  margin-bottom: 0px;
  max-width: 85%;
}

.stream-title::before{
top: -30px !important;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 17px;
color: #FFFFFF; 
background: #3D9889;
padding: 4px 4px;
border-radius: 5px;
}
h1 {
font-size: 28px;
margin-right: 0 !important;
}
.stream-table tr td{
min-height: 135px !important;
background: #FFF4E2;
margin-bottom: 25px !important;
display: block;
border-radius: 15px; 
}
.gc-account-leftbar {
margin-left: 0;
background: #FFEECE;
} 
.training-item a {
color: #292929;
font-weight: 600;
}

.lesson-item a {
color: #292929;
font-weight: 600;    
}
body {
padding-top: 0px !important; 
}      
    
}

/* CSS для подменю*/ /*=============================================================*/
@media screen and (min-width: 768px) {
.gc-account-leftbar .gc-account-user-menu{
margin-top: 10px !important;
    }
/*#searchContainer{
display: none;    
    }*/
.gc-account-user-submenu-bar-profile {
width: 270px !important;
left: 240px !important;
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;
}
.gc-user-user {
margin-left: 330px !important;
}
.gc-account-user-submenu-bar-notifications_button_small {
left: 240px !important; 
height: auto !important;
border-radius: 0px 15px 15px 15px;
padding-bottom: 0px !important;   
}

.close-button {
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button img {
margin-left: 65px;      
}
}
@media screen and (max-width: 768px) {
.container{
margin-top: 50px;
   }

#searchContainer {
 width: 88vw;
 position: absolute;
 margin-top: 5px;
 margin-right: 10px;
}
#searchIconContainer {
left: auto;
right: 0;
position: absolute !important;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
#searchInputContainer {
margin-right: 10px;
box-shadow: 0px 4px 10.5px rgba(0, 0, 0, 0.08);
}
.gc-account-leftbar:not(.expanded) {
height: 50px !important;    
}
.toggle-link img {
width: 40px;     
}
.gc-account-leftbar .gc-account-user-menu{
    top: 0;
    position: absolute;
}

.toggler-item {
display: none !important;    
}
.gc-account-leftbar .toggle-link{
background: transparent;    
width: 100vw !important;
top:0;
right: 0;
}
.toggle-link img{
position: absolute;
margin-top: 5px;
margin-right: 5px;
top:0;
right: 0;
}
.gc-account-leftbar{
top: 0;
right: 0;
}
.gc-account-user-submenu-bar-profile {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.close-button {
margin-left: 94vw;
margin-top: 5px;
width: 15px;
}
.gc-account-user-submenu-bar-notifications_button_small {
z-index: 9999;
width: 100vw !important;
height: 100vh !important;
padding-bottom: 0px !important;
left: 0px !important;
border-radius: 0;
}
.gc-account-leftbar a{
width: 90vw !important;
padding-left: 5vw !important; 
padding-right:   
}
.gc-account-leftbar .gc-account-user-menu{
width: 100vw;
background: rgb(244, 244, 244) !important;
padding-left: 5vw !important;
padding-top: 60px;
}
.menu-item a[title]::after{
width: 270px !important;
text-align: left !important;
margin-left: 20px !important;
}
.menu-item-profile .menu-item-icon {
position: absolute;
top: 10px ;
left: 8px !important;   
}
.gc-account-leftbar .notify-count {
left: 260px;
top: 10px;
}
.custom-submenu .menu-item-chatium_qr .subitem-link{
width: 100% !important;
height: 100% !important;    
}
}
/* для пк */
@media screen and (min-width: 768px) {
.container {
  padding-left: 0px;  
}
.gc-main-content{
margin-left: 260px !important;    
}
}
/* общий */
.close-button img{ 
cursor: pointer !important;
transform: scale(0.8);
}
.close-button img:hover {
  content: url('https://static.tildacdn.com/tild3064-3863-4062-b136-363939303365/close_hover.svg');
  transform: scale(0.9); /* Увеличиваем изображение при наведении */
}
.gc-account-user-submenu-bar h3{
margin-top: 0px;
}
.css-editor-modal .modal-dialog{
width: 60% !important;
}
.gc-account-user-submenu-bar-chatium {
 display: none !important;   
}
.gc-account-user-submenu-bar-teach {
 display: none !important;   
}   
.gc-account-leftbar {
    width: 260px;
    background: #F4F4F4;
}
.custom-submenu .menu-item-chatium_qr .subitem-link {
 height: 160px !important; 
 color: transparent !important; 
}
.menu-item {
margin-bottom: 10px !important;    
}
body {
background: #F7F7F7    
}
.gc-fade-wrapper .gc-fade {
display: none;
}
.menu-item-icon {
    transform: scale(0.6);    
}
/*______________________________________*/
/*Настройки стиля "профиля"*/
.gc-account-leftbar .gc-account-user-menu li.menu-item-profile a {
 height: 70px !important;    
}
.menu-item-profile a[title]::after{
 margin-top: 30px !important;
 margin-left: 30px !important;
}
.menu-item-profile .menu-item-icon {
border-radius: 1000px;    
}
/*______________________________________*/
/*основа меню*/
.open .custom-submenu {
margin-left: 40px;   
}
.gc-account-leftbar .gc-account-user-menu li a:hover{
 background: #D3D3D3;
}
.gc-account-leftbar .gc-account-user-menu li a{
  width: 240px;
  background: #FFFFFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Настройте значения для нужного эффекта */ 
  border-radius: 10px;
  height: 66px;
  display: flex !important;
  align-items: flex-start;
}
.menu-item a[title]::after {
    content: attr(title); /* Берем текст из атрибута title */
    margin-left: 8px; /* Отступ от иконки */
    font-size: 14px; /* Размер текста */
    color: #292929; /* Цвет текста */
    vertical-align: middle !important; /* Вертикальное выравнивание */
    font-family: 'Manrope', sans-serif; /* Применяем шрифт Manrope */
    font-weight: 700; /* Жирный стиль */ 
    margin-top: 14px;
    position: absolute;
    left: 40px !important;
}
.menu-item a {
    display: block; /* Используем flexbox */
    align-items: center; /* Вертикальное выравнивание */
}
.notify-count {
  width: auto !important;
  padding: 3px 7px !important;  
}
/*______________________________________*/
/*отключение стандартного подменю*/
.fz-left-menu-teach {
display: none !important;    
}
.fz-left-menu-cms {
display: none !important;    
}
.fz-left-menu-user {
display: none !important;     
}
.fz-left-menu-tasks {
display: none !important;    
}
.fz-left-menu-notifications {
display: none !important;    
}
.fz-left-menu-sales {
display: none !important;
}
.fz-left-menu-chatium {
display: none !important;    
}
.menu-item-notifications_button_small .menu-item-icon {
display: block !important;   
}
/*______________________________________*/
.custom-submenu-bar {
    max-height: 0; /* Начальная высота подменю */
    opacity: 0;    /* Подменю не видно */
    overflow: hidden;
    transition: max-height 0.7s ease, opacity 0.7s ease; /* Плавное изменение высоты и прозрачности */
    background: none !important; /* Убираем фон */
    box-shadow: none; /* Убираем тень */
    margin-top: 0; /* Минимизируем отступ */
    padding: 0; /* Убираем внутренние отступы */
    position: absolute;
}
.custom-submenu-bar.open {
    max-height: 700px; /* Устанавливаем максимальную высоту, которая будет видимой */
    opacity: 1;        /* Подменю делаем видимым */
}
.select a {
    display: block;
    transition: height 0.7s ease; /* Плавный переход высоты */
}
/* Стили для элементов подменю */
.custom-submenu {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем отступы */
    margin-top: 30px;
    /background: #FAFAFA;
    width: 180px;
    padding-top: 10px;
}
/*______________________________________*/
.custom-submenu li {
    margin: 0; /* Убираем отступы */
    border-radius: 5px;
}
.custom-submenu li:hover {
    background: #D3D3D3 !important;
}
.custom-submenu a {
    font-size: 12px; /* Уменьшаем размер текста */
    color: #333 !important; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background: none !important; /* Убираем фон */
    display: inline; /* Отображаем как текст */
    padding: 5px; /* Убираем внутренние отступы */
    height: 20px !important;
    width: auto !important;
    box-shadow: none !important;
    white-space: nowrap;
    margin-top: 5px;
    font-family: 'Manrope', sans-serif !important; /* Применяем шрифт Manrope */ 
    
}
.custom-submenu-bar {
 top: -10px;  
}
.custom-submenu-bar h3 {
display: none;
}
/* Цвет при наведении */
.select > a:hover {
background: #F0F0F0 !important;    
}
/* Настройка уведомлений */
.select > a > .notify-count {
 opacity: 0   
}
.notify-count {
 position: relative !important;
 top: 10px;
 left: 130px;    
}
.custom-submenu .notify-count {
 position: relative !important;
 top: -1px;
 left: 55px !important;
}
.custom-submenu .menu-item-answers .notify-count {
 bottom: 3px;  
}
.custom-submenu .menu-item-inbox .notify-count {
 bottom: 3px;    
}
/*=============================================================================================*/
@media screen and (min-width: 768px) {
.gc-user-admin .logo-link img{
position: relative;  
top: -10px; 
border-radius: 10px;
}
.gc-user-user .logo-link img {
position: absolute;  
top: -60px; 
border-radius: 10px;
}
.annotate-block {
position: absolute;
left: auto;
right: 40px;
top: 10px;
border-radius: 10px;
background: #fff !important;
}
.close-button {
position: absolute !important;
right: 10px !important; 
left: auto !important;
}
.gc-account-user-submenu-bar-notifications_button_small .close-button {
position: relative !important; 
left: 250px !important;
}
}

/* Добавляем новые иконки через ::before */
.menu-item .menu-item-icon {
  opacity: 0;
  width: 24px !important; /* Сохраняем место для иконки */
  height: 24px !important;
  margin-right: 8px !important; /* Если был отступ */
}

.menu-item a[title]::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 10px;
  top: 30px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
}

/* Индивидуальные иконки для каждого пункта */
.menu-item a[title="Обучение"]::before {
  background-image: url('https://static.tildacdn.com/tild3039-3039-4136-b166-376436306164/teach-icon-1.svg');
}

.menu-item a[title="Apps"]::before {
  background-image: url('https://static.tildacdn.com/tild6633-6361-4131-b530-333131313630/chatium-icon-1_2.svg');
}
.menu-item a[title="Mobile"]::before {
  background-image: url('https://static.tildacdn.com/tild6633-6361-4131-b530-333131313630/chatium-icon-1_2.svg');
}
.menu-item a[title="Служба поддержки"]::before {
  background-image: url('https://static.tildacdn.com/tild3933-3231-4535-b633-396432623033/notifications-icon-1.svg');
}
.menu-item a[title="Покупки"]::before {
  background-image: url('https://static.tildacdn.com/tild3432-3264-4666-b232-343164316664/sale-icon.svg');
}
.menu-item-sales .notify-count {
margin-top: 13px;    
}
.menu-item-notifications_button_small::before{
content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 8px;
  top: 17px;;
  transform: translateY(-50%);
  z-index: 99999 !important;
  background-image: url('https://static.tildacdn.com/tild6237-3462-4437-a162-346537616136/notifications_button.svg');
}


.menu-item a[title="Сообщения"]::before {
  background-image: url('https://static.tildacdn.com/tild3933-3231-4535-b633-396432623033/notifications-icon-1.svg');
}

.menu-item a[title="Сайт"]::before {
  background-image: url('https://static.tildacdn.com/tild3166-6664-4633-b832-306135333634/site-icon.svg');
}

.menu-item a[title="Ученики"]::before {
  background-image: url('https://static.tildacdn.com/tild6663-6539-4234-b865-343839386231/member-icon.svg');
}

.menu-item a[title="CRM"]::before {
  background-image: url('https://static.tildacdn.com/tild6131-3835-4163-b066-303963386135/CRM-icob.svg');
}

.menu-item a[title="Продажи"]::before {
  background-image: url('https://static.tildacdn.com/tild3432-3264-4666-b232-343164316664/sale-icon.svg');
}


.custom-submenu{
 margin-left: 40px;   
}


.menu-item a {
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.0) !important;

}
.gc-account-leftbar .gc-account-user-menu li a {
background: linear-gradient(92.7deg, #FFEECE 25.5%, #FFF5E7 54.5%, #FFEECE 84%);
}
.gc-account-leftbar .gc-account-user-menu li a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) ; 
}


.gc-fade-wrapper {
background: #fff;  
z-index: -1
}
.gc-account-leftbar {
background: #fff;  
margin-left: 10px;
}

.menu-item a[title]::after{
color: #292929;
font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
font-weight: 600;
margin-top: 25px;
}
.menu-item-icon {
margin-top: 13px;    
}
.menu-item-notifications_button_small .menu-item-icon {
margin-top: 0px;     
}
.menu-item-profile .menu-item-icon {
margin-top: 0px;    
}
.notify-count {
color: #3D9889 !important;    
background: #fff !important;
}
.menu-item-teach > a .notify-count {
margin-top: 13px;   
}
.custom-submenu a {
font-family: 'Montserrat';
font-weight: 600 !important;
color: #292929 !important;
}
.custom-submenu li:hover {
    background: transparent !important;
}
.custom-submenu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: currentColor; /* цвет подчеркивания = цвет текста */
    transition: width 0.3s ease;
}

.custom-submenu li:hover a::after {
    width: 100%;
}

.custom-submenu .notify-count {
    position: relative !important;
    top: -4px;
    left: 45px !important;
}
.menu-item.active > a {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}
.menu-item.active > a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}


.selected > a {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;
}
.selected > a:hover {
background: linear-gradient(92.7deg, #F3DFBA 25.5%, #FFF5E7 54.5%, #F3DFBA 84%) !important;   
}

#searchWrapper {
background: #FFEECE !important;      
}
.logo-link img {
top: -40px !important;    
}
.menu-item-notifications > a .notify-count {
top: 20px;    
}

.menu-item-notifications_button_small::after {
    content: "Уведомления";
    display: inline-block;
    color: #292929;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 9999;
    top: 7px;
    left: 46px;
    pointer-events: none;
}
